// デモ用書体の読み込み
@font-face {
  font-family: "gooddaysans-regular";
  src: url("https://k-e034.github.io/ETD-GoodDaySans-Regular.woff2") format("woff2");
}
@font-face {
  font-family: "gooddaysans-slanted";
  src: url("https://k-e034.github.io/ETD-GoodDaySans-Slanted.woff2") format("woff2");
}
@font-face {
  font-family: "gdv";
  src: url("https://k-e034.github.io/ETD-GoodDaySans-Regular-VF.ttf") format("truetypevariable");
}


// スタイリング
.display {
  font-family: gooddaysans-regular;
  font-size:20px;
  font-feature-settings: "tnum" 1;
}

.typeface {
  font-family: gooddaysans-regular;
  margin-top: 30px;
  margin-left: 30px;
  &_features{
    margin-top: 20px;
  }
  &_check{
    fontfamily: gooddaysans-regular,sans-serif;
  }
  &_fontsize{
    display: block;
    margin-top: 20px;
  }
 
.text {
  font-family: gooddaysans-regular;
  margin-top: 30px;
  margin-left: 30px;
  display:flex;
  width: 80%;
  border: 2px solid black;
  align-items: center;
  justify-content: center;
  font-family: gooddaysans-regular, sans-serif;
  font-size: 20px;
  transition: ease-in-out;
  }
}
#goodday{
  font-family: gooddaysans-regular, sans-serif;
  textarea{
    font-family: gooddaysans-regular, sans-serif;
  }
}
